<!doctype html>
<html lang="en">

  <head>

    <title>Flash Point - Fire rescue</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  </head>

  <body>

    <div id="flashpointApp" class="full-height">
    </div>

    <script src="/bundle.js"></script>

  </body>

</html>
